.item {
}
.list {
  padding: 0;
  display: flex;
  justify-content: center;
}
.button {
  min-width: 130px;
  position: relative;
  display: inline-block;

  text-align: center;
  text-transform: uppercase;

  padding: 15px;
  margin: 0 25px;

  font-size: 20px;
  font-weight: 600;

  transition: 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: #bfbfbf;
}
